# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\مهم\new-master\avatar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
